body {
    background-color: black;
}

p {
    color: white;
}

#mainDiv {
}

#headerContent{
    text-align: center;
    width: 100%;
    font-size: xxx-large;
    font-family: "Lucida Handwriting", cursive;
}
#bodyContent {
    display: flex;
}

#headerContent h1 {
    display: inline;
}

#myBiography {
    width: 20%;
    text-align: justify;
    font-style: italic;
    padding: 2%;
}

#myProjects {
    width: 80%;
}

.a-color {
    color: blue;
}

.maze-color {
    color: red;
}

.d-color {
    color: green;
}

.section-project {
    width: 100%;
}

.project {
    width: 33%;
}

.section-project-title {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    color: white;
}

.section-project-content {
    width: 100%;
    display: flex;
}